/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
       height: 100%;
 }
 

body {
       margin: 0px;
       padding: 0px;
 background-image:url(/static/img/gray_jean.png);
 }
 
 
div#wrapper {
       width: 100%;
       /*min-height: 100%;*/
       height: auto !important;
       height: 100%;
       margin: 0px 0px -41px 0px;
 }
 

div#footer_wrapper {
       width: 100%;
       height: 41px;
 }
 

div#content_wrapper {
       width: 100%;
       padding: 0px 0px 41px 0px;
 }
 

div#footer_wrapper, div#content_wrapper {
       min-width: 960px;
 }
 

div#footer_inner_wrapper, div#content_inner_wrapper {
       width: 960px;
       margin: 0px auto;
 }
 
.bx-wrapper, .bx-viewport {
overflow: visible !important;
border: solid #fff 0px !important;
left: 0px !important;
-moz-box-shadow: 0 0 0 #000 !important;
-webkit-box-shadow: 0 0 0 #000 !important;
box-shadow: 0 0 0 000 !important;
}

.bx-wrapper .bx-pager {
left: 1055px !important;
z-index: 110 !important;
bottom: 41px !important;
width: 40px !important;
}
 
/* TEXT */ 

h1 {
font-family: 'Rancho', cursive;
font-size: 21px;
margin: 30px 0px;
}

h1 a {
color: #a72563;
}

h1 span {
color: #a72563;
}

h2 {
position: relative;
float: left;
font-family: 'Rancho', cursive;
font-size: 72px;
margin: 30px 0px;
color: #57062d;
font-weight: bolder;
}

h3 {
font-family: 'Rancho', cursive;
font-size: 21px;
color: #a72563;
}

h4 {
font-family: 'Rancho', cursive;
font-size: 24px;
color: #a72563;
font-weight: bolder;
margin: 40px 0px 65px 0px;
}

h5 {
position: relative;
float: left;
font-family: 'Rancho', cursive;
font-size: 72px;
margin: 10px 0px 0px 30px;
color: #a72563;
font-weight: bolder;
}

h6 {
position: relative;
float: left;
font-family: 'Rancho', cursive;
font-size: 24px;
color: #a72563;
font-weight: bolder;
margin: 20px 0px 0px 30px;
line-height: 28px;
}

h6 span {
color: #000;
}

h7 {
position: relative;
float: left;
margin: 13px 0px 0px 30px;
font-family: 'Rancho', cursive;
font-size: 21px;
color: #000;
}

span.fs18 {
font-size: 18px;
}

.lh17 {
line-height: 17px;
}

div.largest_text {
position: relative;
float: left;
}

div.largest_text p {
font-family: 'Rancho', cursive;
font-size: 113px;
margin: 45px 0px 30px 0px;
color: #57062d;
text-shadow: 0px -2px 0px #ffffff;
}

div.largest_text span {
color: #a72563;
}

div.body_text {
position: relative;
float: left;
width: 551px;
}

div.body_text p {
font-family: 'Gudea', sans-serif;
font-size: 14px;
color: #000;
text-align: justify;
line-height: 16px;
margin-bottom: 20px;
}

div.body_text span {
font-weight: 700;
}
 
/* HEADER */
 
 div.header {
 height: 107px;
 }
 
 div.top-padding {
 position: relative;
 left: -160px;
 background-color: #000;
 height: 16px;
 width: 1271px;
 }
 
 div.main_menu {
 position: relative;
 margin-top: 30px;
 z-index: 100;
 }
 
.active {
color: #ffffff !important;
background: #a72563;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
 
.active2 {
color: #ffffff !important;
background: #000;
}
 
 div.main_menu a {
font-family: 'Gudea', sans-serif;
font-size: 14px;
color: #3C3E44;
text-transform: uppercase;
text-decoration: none;
padding: 7px 15px 7px 15px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
margin-left: 10px;
transition: background .25s linear;
-webkit-transition: background .25s linear;
-moz-transition: background .25s linear;
}

.ml0 {
margin-left: 0px !important;
}

 div.main_menu a:hover {
color: #ffffff;
background: #a72563;
text-shadow: none;
/*filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;*/
transition: background .25s linear;
-webkit-transition: background .25s linear;
-moz-transition: background .25s linear;
}

a.submenu {
color: #fff !important;
background: #a72563;
padding: 7px 15px 7px 15px;
border-radius: 0px 0px 3px 3px !important;
-moz-border-radius: 0px 0px 3px 3px !important;
-webkit-border-radius: 0px 0px 3px 3px !important;
display: none;
 transition: background .25s linear;
-webkit-transition: background .25s linear;
-moz-transition: background .25s linear;
}

.submenu_pos {
position: absolute !important;
top: 24px;
left: 0px;
}

.width_submenu1 {
display: inline-block;
width: 86px;
}

.width_submenu2 {
display: inline-block;
width: 116px;
}

div.main_menu li:hover a.submenu {
display: block;
transition: background .25s linear;
-webkit-transition: background .25s linear;
-moz-transition: background .25s linear;
}
 
 div.home_btn {
 position: relative;
 float: left;
 }
 
 div.home_icon {
 position: relative;
 float: left;
 top: -9px;
 background-image:url(/static/img/home.png);
 width: 23px;
 height: 22px;
 }
 
 div.home_btn p {
 position: relative;
 float: left;
 }
 
 div.main_menu ul {
 position: relative;
 float: right;
 }
 
 div.main_menu li {
position: relative;
 display: inline;
 }
 
.ml35 {
 margin-left: 35px;
 }
 
.ml100 {
 margin-left: 100px;
 }
 
 .mt2 {
 margin-top: 2px;
 }
 
 .mt23 {
 margin-top: 23px;
 }
 
 .mt60 {
 margin-top: 60px;
 }
 
 .mb60 {
 margin-bottom: 60px !important;
 }
 
 .mt15 {
 margin-top: 15px !important;
 }
 
 .mb70 {
 margin-bottom: 70px !important;
 }
 
/* CAROUSEL */
 
 div.carousel {
 position: relative;
 }
 
 div.bg_img {
 position: relative;
 left: -160px;
 background-image:url(/static/img/logo.png);
 width: 1271px;
 height: 336px;
 border-top: 8px solid #000;
 border-bottom: 8px solid #000;
 }
 
 div.fg_img {
 position: absolute;
 background-image:url(/static/img/lucy_vector.png);
 width: 336px;
 height: 368px;
 left: 460px;
 top: -23px;
 }
 
 div.fg_img2 {
 position: absolute;
 background-image:url(/static/img/lucy_vector_dark.png);
 width: 336px;
 height: 368px;
 left: 623px;
 top: 59px;
 }
 
 div.fg_img2:hover {
 position: absolute;
 background-image:url(/static/img/lucy_vector.png);
 width: 336px;
 height: 368px;
 left: 623px;
 top: 59px;
 transition: background .25s linear;
-webkit-transition: background .25s linear;
-moz-transition: background .25s linear;
 }
 
 div.carousel_img {
 position: relative;
 left: -160px;
 width: 1271px;
 height: 515px;
 border-top: 8px solid #000;
 border-bottom: 8px solid #000;
 }
 
 div.carousel_img2 {
 position: relative;
 left: -160px;
 width: 1271px;
 height: 418px;
 border-top: 8px solid #000;
 border-bottom: 8px solid #000;
 }
 
 div.carousel_img_empty {
 position: relative;
 left: -160px;
 width: 1271px;
 border-top: 8px solid #000;
 }
 
 .our_rooms_1 {
 background-image:url(/static/img/our_rooms_1.png);
 }
 
 .breakfast_1 {
 background-image:url(/static/img/breakfast_1.png);
 }
 
 .location_1 {
 background-image:url(/static/img/location_1.png);
 }
 
 div.small_header {
 position: relative;
 left: -152px;
 background-color: #57062d;
 width: 1263px;
 height: 325px;
 border-top: 8px solid #000;
 border-bottom: 8px solid #000;
 }
 
 div.header_bg{
 width: 960px;
 margin: 0px auto;
 margin-top: 45px;
 }
 
 div.header_left {
 position: relative;
 float: left;
 }
 
 .w310 {
 width: 310px;
 }
 
 div.header_right {
 position: relative;
 float: right;
 margin-top: 6px;
 }
 
 div.large_title {
 position: relative;
 float: left;
 }
 
 div.large_title p {
 font-family: 'Rancho', sans-serif;
 font-size: 150px;
 color: #a72563;
 }
 
 div.large_arrow {
 position: relative;
 float: left;
 background-image:url(/static/img/large_arrow.png);
 width: 44px;
 height: 73px;
 margin-left: 30px;
 margin-top: 50px;
 }
 
 div.medium_arrow {
 position: relative;
 float: left;
 background-image:url(/static/img/medium_arrow.png);
 width: 27px;
 height: 44px;
 margin-left: 30px;
 margin-top: 27px;
 }
 
 div.top_txt {
 height: 68px;
 margin-right: 100px;
 }
 
 div.large_white_txt {
 position: relative;
 float: left;
 }
 
 div.large_white_txt p {
 font-family: 'Rancho', sans-serif;
 font-size: 26px;
 color: #fff;
 }
 
 div.large_white_txt span{
  font-size: 53px;
 }
 
 div.large_euro {
 position: relative;
 float: left;
 margin-left: 7px;
 }
 
 div.large_euro p {
 font-family: 'Rancho', sans-serif;
 font-size: 33px;
 color: #fff;
 }
 
 div.star_moon0 {
 position: absolute;
 left: 290px;
 background-image:url(/static/img/star_moon.png);
 width: 74px;
 height: 72px;
 }
 
 div.star_moon1 {
 position: absolute;
 left: 300px;
 background-image:url(/static/img/star_moon.png);
 width: 210px;
 height: 216px;
 filter:alpha(opacity=40);
-moz-opacity:0.4;
-khtml-opacity: 0.4;
opacity: 0.4;
 }
 
 div.star_moon {
 position: absolute;
 left: 300px;
 background-image:url(/static/img/star_moon.png);
 width: 210px;
 height: 216px;
 }
 
 div.bottom_txt {
 }
 
 div.medium_purple {
 }
 
 div.medium_purple p {
 font-family: 'Rancho', sans-serif;
 font-size: 26px;
 color: #a72563;
 }
 
 div.carousel_title {
 position: absolute;
 height: 96px;
 width: 100%;
 background-color: rgba(255, 255, 255, 0.5);
 top: 50px;
 z-index: 100;
 }
 
 div.carousel_title_short {
 position: absolute;
 height: 96px;
 background-color: rgba(255, 255, 255, 0.5);
 top: 50px;
 padding-right: 30px;
 }
 
 div.carousel_caption {
 position: absolute;
 height: 45px;
 width: 100%;
 background-color: rgba(255, 255, 255, 0.5);
 top: 455px;
 z-index: 100;
 }

div.arrows_caption {
position: relative;
float: right;
margin: 13px 30px 0px 0px;
}
 
/* CONTENT */

div.content {

}

div.features_list {
height: 100px;
}

div.features_list p {
font-family: 'Gudea', sans-serif;
text-align: center;
font-size: 14px;
}

div.feature {
position: relative;
float: left;
width: 120px;
padding-bottom: 5px;
cursor: pointer;
}

div.feature:hover {
color: #ffffff;
background: #000;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
transition: background .25s linear;
-webkit-transition: background .25s linear;
-moz-transition: background .25s linear;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

div.feature_icon {
width: 40px;
height: 35px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}

div.pickups {
background-image:url(/static/img/pickups.png);
}

div.feature:hover div.pickups {
background-image:url(/static/img/pickups_h.png);
}

div.wifi {
background-image:url(/static/img/wifi.png);
}

div.feature:hover div.wifi {
background-image:url(/static/img/wifi_h.png);
}

div.feature:hover div.popup2 {
display: block;
}

div.comfort {
background-image:url(/static/img/comfort.png);
}

div.feature:hover div.comfort {
background-image:url(/static/img/comfort_h.png);
}

div.jacuzzi {
background-image:url(/static/img/jacuzzi.png);
}

div.feature:hover div.jacuzzi {
background-image:url(/static/img/jacuzzi_h.png);
}

div.cable {
background-image:url(/static/img/cable.png);
}

div.feature:hover div.cable {
background-image:url(/static/img/cable_h.png);
}

div.english {
background-image:url(/static/img/english.png);
}

div.feature:hover div.english {
background-image:url(/static/img/english_h.png);
}

div.breakfast {
background-image:url(/static/img/breakfast.png);
}

div.feature:hover div.breakfast {
background-image:url(/static/img/breakfast_h.png);
}

div.laundry {
background-image:url(/static/img/laundry.png);
}

div.feature:hover div.laundry {
background-image:url(/static/img/laundry_h.png);
}

div.feature:hover div.popup {
display: block;
}

div.header_row {
overflow: auto;
margin-top: 50px;
margin-bottom: 55px;
}

div.small_purple{
position: relative;
float: left;
margin-top: 72px;
margin-left: 35px;
}

div.small_purple p {
 font-family: 'Rancho', sans-serif;
 font-size: 21px;
 color: #a72563;
}

div.list_row {
overflow: auto;
margin-bottom: 100px;
}

div.list_row2 {
height: 100px;
margin-bottom: 100px;
}

div.bullet {
position: relative;
float: left;
}

div.icon {
position: relative;
float: left;
width: 80px;
height: 80px;
}

div.email {
background-image:url(/static/img/email.png);
}

div.landline {
background-image:url(/static/img/landline.png);
}

div.mobile {
background-image:url(/static/img/mobile.png);
}

div.bread {
background-image:url(/static/img/bread.png);
}

div.cheese {
background-image:url(/static/img/cheese.png);
}

div.fruit {
background-image:url(/static/img/fruit.png);
}

div.specials {
background-image:url(/static/img/specials.png);
}

div.hot_beverages {
background-image:url(/static/img/hot_beverages.png);
}

div.cold_beverages {
background-image:url(/static/img/cold_beverages.png);
}

div.home_address {
background-image:url(/static/img/home_address.png);
}

div.doc {
background-image:url(/static/img/doc.png);
}

div.airport {
background-image:url(/static/img/airport.png);
}

div.whale_dolphin_watching {
background-image:url(/static/img/whale_dolphin_watching.png);
}

div.bicycle {
background-image:url(/static/img/bicycle.png);
}

div.scuba_diving {
background-image:url(/static/img/scuba_diving.png);
}

div.bird_watching {
background-image:url(/static/img/bird_watching.png);
}

div.boat{
background-image:url(/static/img/boat.png);
}

div.mountain_climbing {
background-image:url(/static/img/mountain_climbing.png);
}

div.marina {
background-image:url(/static/img/anchor.png);
}

div.speluking {
background-image:url(/static/img/speluking.png);
}

div.fishing{
background-image:url(/static/img/fishing.png);
}

div.hiking {
background-image:url(/static/img/hiking.png);
}

div.museum {
background-image:url(/static/img/museum.png);
}

div.horseback_riding {
background-image:url(/static/img/horseback_riding.png);
}

div.bullet_text {
position: relative;
float: left;
margin-left: 18px;
margin-top: 10px;
}

div.bullet_name {
width: 187px;
border-bottom: 8px solid #57062d;
padding-bottom: 5px;
}

div.bullet_name2 {
width: 356px;
border-bottom: 8px solid #57062d;
padding-bottom: 5px;
}

div.bullet_name p, div.bullet_name2 p {
 font-family: 'Rancho', sans-serif;
 font-size: 24px;
 color: #a72563;
 text-transform: uppercase;
}

div.bullet_object {
margin-top: 6px;
}

div.bullet_object p {
 font-family: 'Gudea', sans-serif;
 font-size: 14px;
 color: #000;
}

div.bullet_object a {
 text-decoration: none;
 color: #000;
}

div.bullet_object ul {
 list-style-image:url(/static/img/small_triangle.png);
 margin-left: 14px;
}

div.bullet_object li {
 font-family: 'Gudea', sans-serif;
 font-size: 14px;
 color: #000;
 line-height: 21px;
}

div.bullet_object ul.circle_bullets {
list-style-image:url(/static/img/circle_bullet.png);
}

.mr52 {
margin-right: 52px;
}

div.rooms {
overflow: auto;
}

div.room {
position: relative;
margin-bottom: 70px;
}

div.picture {
width: 429px;
height: 238px;
border: 5px solid #000;
}

.room_picture_1 {
background-image:url(/static/img/room_picture_1.png);
}

.room_picture_2 {
background-image:url(/static/img/room_picture_2.png);
}

.room_picture_3 {
background-image:url(/static/img/room_picture_3.png);
}

.room_picture_4 {
background-image:url(/static/img/room_picture_4.png);
}

.float_right{
float: right;
}

.float_left{
float: left;
}

div.caption_row {
position: relative;
float: left;
width: 100%;
margin-top: 10px;
}

div.caption {
position: relative;
float: left;
}

div.arrows {
position: relative;
float: right;
}

div.arrow_left {
position: relative;
float: left;
width: 10px;
height: 16px;
background-image:url(/static/img/arrow_left.png);
margin-right: 10px;
}

div.arrow_right {
position: relative;
float: left;
width: 10px;
height: 16px;
background-image:url(/static/img/arrow_right.png);
}

div.map {
border: 8px solid #57062d;
margin-bottom: 100px;
}

div.underline {
position: absolute;
top: 148px;
width: 100%;
height: 8px;
background-color: #57062d;
z-index: -1;
}

div.popup_wrapper {
width: 510px;
top: -70px;
position: absolute;
}

div.popup_wrapper2 {
left: -720px;
top: -98px;
position: absolute;
}

div.popup_wrapper3 {
left: -140px;
top: -70px;
position: absolute;
}

div.popup {
position: relative;
float: left;
background-color: #000;
border-radius: 3px;
display: none;
}

div.popup p {
padding: 21px;
color: #fff;
font-family: 'Gudea', sans-serif;
text-align: justify;
font-size: 14px;
}

div.triangle-down {
position: absolute;
left: 50px;
top: 56px;
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #000;
}

div.triangle-down2 {
position: absolute;
left: 770px;
top: 84px;
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #000;
}

div.triangle-down3 {
position: absolute;
left: 189px;
top: 56px;
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #000;
}

/* FOOTER */

div.footer_bg {
position: relative;
left: -160px;
background-color: #000;
height: 200px;
width: 1271px;
}

div.footer_menu {
width: 960px;
margin-right: auto;
margin-left: auto;
padding-left: 10px;
}

div.footer_menu ul {
position: relative;
float: left;
margin-top: 70px;
z-index: 100;
}

div.footer_menu li {
display: inline;
margin-right: 15px;
}

div.footer_menu a {
text-decoration: none;
color: #ffffff;
font-family: 'Gudea', sans-serif;
font-size: 11px;
}

div.footer_menu a:hover {
text-decoration: underline;
}

div.facebook_btn {
position: relative;
float: right;
margin-top: 70px;
background-color: #ffffff;
padding: 7px 10px 7px 0px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
z-index: 100;
}

div.facebook_btn p {
font-family: 'Gudea', sans-serif;
font-size: 10px;
color: #000000;
}

div.facebook_btn span {
font-weight: 800;
font-size: 16px;
}

div.facebook_btn:hover, div.facebook_btn:hover div.facebook_text p {
background-color: #3b5998;
color: #ffffff;
transition: background .25s linear;
-webkit-transition: background .25s linear;
-moz-transition: background .25s linear;
}

div.facebook_btn:hover div.facebook_f {
background-image:url(/static/img/facebook_f_hover.png);
}

div.btn_seperator {
width: 100%;
height: 2px;
background-color: #000;
}

div.facebook_f {
position: relative;
float: left;
width: 12px;
height: 23px;
background-image:url(/static/img/facebook_f_1.png);
margin: 3px 13px 0px 13px;
}

div.facebook_text {
position: relative;
float: left;
}

div.small_txt_footer {
position: relative;
padding-top: 150px;
}

div.small_txt_footer p {
color: #ffffff;
font-family: 'Gudea', sans-serif;
font-size: 11px;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 