/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
       height: 100%;
 }
 

body {
       margin: 0px;
       padding: 0px;
 }
 
 
div#wrapper {
       width: 100%;
       min-height: 100%;
       height: auto !important;
       height: 100%;
       margin: 0px 0px -41px 0px;
 }
 

div#footer_wrapper {
       width: 100%;
       height: 41px;
 }
 

div#content_wrapper {
       width: 100%;
       padding: 0px 0px 41px 0px;
 }
 

div#footer_wrapper, div#content_wrapper {
       min-width: 960px;
 }
 

div#footer_inner_wrapper, div#content_inner_wrapper {
       width: 960px;
       margin: 0px auto;
 }
 
/* TEXT */ 

h1 {
font-family: 'Rancho', cursive;
}

h1 span {
color: #a72563;
}
 
/* HEADER */
 
 div.header {
 height: 107px;
 }
 
 div.top-padding {
 position: relative;
 left: -160px;
 background-color: #000;
 height: 16px;
 width: 1271px;
 }
 
 div.main_menu, div.main_menu a {
 margin-top: 30px;
 font-family: 'Gudea', sans-serif;
 font-size: 14px;
 color: #8f7a4c;
 text-transform: uppercase;
 text-decoration: none;
 }
 
.active {
color: #ffffff !important;
background: #a72563;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
 
 div.main_menu a {
padding: 7px 15px 7px 15px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
margin-right: 10px;
transition: background .25s linear;
-webkit-transition: background .25s linear;
-moz-transition: background .25s linear;
}

 div.main_menu a:hover {
color: #ffffff;
background: #a72563;
text-shadow: none;
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
transition: background .25s linear;
-webkit-transition: background .25s linear;
-moz-transition: background .25s linear;
}
 
 div.home_btn {
 position: relative;
 float: left;
 }
 
 div.home_icon {
 position: relative;
 float: left;
 top: -9px;
 background-image:url(/static/img/home.png);
 width: 23px;
 height: 22px;
 }
 
 div.home_btn p {
 position: relative;
 float: left;
 }
 
 div.main_menu ul {
 position: relative;
 float: right;
 }
 
 div.main_menu li {
 display: inline;
 }
 
/* CAROUSEL */
 
 div.carousel {
 position: relative;
 }
 
 div.bg_img {
 position: relative;
 left: -160px;
 background-image:url(/static/img/logo.png);
 width: 1271px;
 height: 336px;
 border-top: 8px solid #000;
 border-bottom: 8px solid #000;
 }
 
 div.fg_img {
 position: absolute;
 background-image:url(/static/img/lucy_vector.png);
 width: 336px;
 height: 368px;
 left: 460px;
 top: -23px;
 }
 
/* CONTENT */

div.content {

}

div.features_list {

}

div.features_list ul {

}

div.features_list li {

}

div.features_list p {
font-family: 'Gudea', sans-serif;
}

div.features_icon {
width: 50px;
height: 50px;
}

div.pickups {
background-image:url(/static/img/pickups.png);
}

div.wifi {
background-image:url(/static/img/wifi.png);
}

div.comfort {
background-image:url(/static/img/comfort.png);
}

div.jacuzzi {
background-image:url(/static/img/jacuzzi.png);
}

div.cable {
background-image:url(/static/img/cable.png);
}

div.english {
background-image:url(/static/img/english.png);
}

div.breakfast {
background-image:url(/static/img/breakfast.png);
}

div.laundry {
background-image:url(/static/img/laundry.png);
}

/* FOOTER */

div.footer_bg {
position: relative;
left: -160px;
background-color: #000;
height: 200px;
width: 1271px;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 