<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
 <head> 

    <title>Lucy's Bed & Breakfast</title> 
	
	<link rel="shortcut icon" href="/static/img/favicon_lbnb.ico"/>
	<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
	<link href="/static/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
	
	<script type="text/javascript">
	
	</script>

  </head> 

  <body> 

    <div id="wrapper"> 

      <div id="content_wrapper"> 
		<div class="top-padding"></div>

        <div id="content_inner_wrapper"> 

          <div class="header">
			<div class="main_menu">
				<div class="home_btn">
					<div class="home_icon"></div>
					<p><a class="ml0" href="/">Home</a></p>
				</div>
				<ul>
					<li><a class="active2" href="/book_room">Book a Room</a>
						<ul class="submenu_pos">
							<li><a class="submenu width_submenu1" href="/book_room">Rates</a></li>
						</ul>
					</li>
					<li><a href="/our_rooms">Our Rooms</a></li>
					<li><a href="/location">Location</a></li>
					<li><a href="/activities">Island Activities</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a class="active" href="/about_us">About Us</a></li>
				</ul>
			</div>
		  </div> 
		  
		  <div class="carousel">
			<div class="largest_text">
				<p>So, who's <span>Lucy</span>?</p>
				<div class="underline"></div>
			</div>
			<div class="body_text">
				<p>My husband Joe and I, as Portuguese immigrants in North America, moved back to our beautiful island to raise our children.
				Now that they&lsquo;re all grown up and have &quot;abandoned&quot; us, we have transformed our home into a place where we can receive people from all over the world from so many different cultures.</p>

				<p>We are friendly islander folk who cater to our guests' every need and make them feel welcome. We invite you to stay with us during your trip to Pico island.</p> 

				<p><span>Besides... we have pancakes!</span></p>
			</div>
			<div class="carousel_img2"></div>
			<div class="fg_img2"></div>
		  </div>

        </div> 

      </div> 

    </div> 

    <div id="footer_wrapper"> 

      <div id="footer_inner_wrapper"> 

        <div class="footer_bg">
			<div class="footer_menu">
				<ul>
					<li><a href="/book_room">Book a Room</a></li>
					<li><a href="/book_room">Rates</a></li>
					<li><a href="/our_rooms">Our Rooms</a></li>
					<li><a href="/location">Location</a></li>
					<li><a href="/activities">Island Activities</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about_us">About Us</a></li>
				</ul>
				<a href="https://www.facebook.com/pages/Lucys-Bed-Breakfast/159478380873483" target="_new">
					<div class="facebook_btn">
						<div class="facebook_f"></div>
						<div class="facebook_text">
							<p class="mt2">Find us on </p>
							<p><span>FACEBOOK</span></p>
						</div>
					</div>
				</a>
				<div class="small_txt_footer">
					<p>Pico Azores - Bed & Breakfast</p>
				</div>
			</div>
		</div> 

      </div> 

    </div> 

  </body> 

</html> 