<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
 <head> 

    <title>Lucy's Bed & Breakfast</title> 
	
	<link rel="shortcut icon" href="/static/img/favicon_small.ico"/>
	<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
	<link href="/static/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
	
	<script type="text/javascript">
	
	</script>

  </head> 

  <body> 

    <div id="wrapper"> 

      <div id="content_wrapper"> 

        <div id="content_inner_wrapper"> 

          <div class="header">
			<div class="top-padding"></div>
			<div class="main_menu">
				<div class="home_btn">
					<div class="home_icon"></div>
					<p><a class="ml0" href="/">Home</a></p>
				</div>
				<ul>
					<li><a class="active" href="/book_room">Book a Room</a>
						<ul class="submenu_pos">
							<li><a class="submenu width_submenu1" href="/book_room">Rates</a></li>
						</ul>
					</li>
					<li><a href="/our_rooms">Our Rooms</a></li>
					<li><a href="/location">Location</a></li>
					<li><a href="/activities">Island Activities</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about_us">About Us</a></li>
				</ul>
			</div>
		  </div> 
		  
		  <div class="small_header">
			<div class="header_bg">
				<div class="header_left">
					<div class="large_title">
						<p>Rates</p>
					</div>
					<div class="large_arrow"></div>
				</div>
				<div class="header_left ml100 w310">
					<div class="star_moon"></div>
					<div class="top_txt">
						<div class="large_white_txt">
							<p><span>45</span></p>
						</div>
						<div class="large_euro">
							<p>&#8364;</p>
						</div>
						<div class="large_white_txt mt23">
							<p>/night - 1 guest</p>
						</div>
					</div>
					<div class="top_txt">
						<div class="large_white_txt">
							<p><span>65</span></p>
						</div>
						<div class="large_euro">
							<p>&#8364;</p>
						</div>
						<div class="large_white_txt mt23">
							<p>/night - 2 guests</p>
						</div>
					</div>
					<div class="top_txt">
						<div class="large_white_txt">
							<p><span>80</span></p>
						</div>
						<div class="large_euro">
							<p>&#8364;</p>
						</div>
						<div class="large_white_txt mt23">
							<p>/night - 3 guests</p>
						</div>
					</div>
					<div class="bottom_txt">
						<div class="medium_purple">
							<p>+ extra double bed available</p>
						</div>
					</div>
				</div>
			</div>
		  </div> 
		  
		  <div class="content">
			<div class="header_row">
				<h2>Book a Room</h2>
				<div class="small_purple">
					<p>to book a room please contact us by one of the following :</p>
				</div>
			</div>
			<div class="list_row">
				<div class="bullet mr52">
					<div class="icon email"></div>
					<div class="bullet_text">
						<div class="bullet_name">
							<p>Email</p>
						</div>
						<div class="bullet_object">
							<p class="lh17">lucysbnb@hotmail.com</p>
						</div>
					</div>
				</div>
				<div class="bullet mr52">
					<div class="icon landline"></div>
					<div class="bullet_text">
						<div class="bullet_name">
							<p>Landline</p>
						</div>
						<div class="bullet_object">
							<p class="lh17">00 351 292 623 386</p>
						</div>
					</div>
				</div>
				<div class="bullet">
					<div class="icon mobile"></div>
					<div class="bullet_text">
						<div class="bullet_name">
							<p>Mobile</p>
						</div>
						<div class="bullet_object">
							<p class="lh17">00 351 913 956 963</p>
						</div>
					</div>
				</div>
			</div>
		  </div> 

        </div> 

      </div> 

    </div> 

    <div id="footer_wrapper"> 

      <div id="footer_inner_wrapper"> 

        <div class="footer_bg"></div> 

      </div> 

    </div> 

  </body> 

</html> 