<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
 <head> 

    <title>Lucy's Bed & Breakfast</title> 
	
	<link rel="shortcut icon" href="/static/img/favicon_small.ico"/>
	<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
	<link href="/static/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
	
	<script type="text/javascript">
	
	</script>

  </head> 

  <body> 

    <div id="wrapper"> 

      <div id="content_wrapper"> 

        <div id="content_inner_wrapper"> 

          <div class="header">
			<div class="top-padding"></div>
			<div class="main_menu">
				<div class="home_btn">
					<div class="home_icon"></div>
					<p><a class="ml0" href="/">Home</a></p>
				</div>
				<ul>
					<li><a class="active2" href="/book_room">Book a Room</a></li>
					<li><a href="/our_rooms">Our Rooms</a></li>
					<li><a href="/breakfast">Breakfast Menu</a></li>
					<li><a href="/location">Location</a></li>
					<li><a class="active" href="/contact">Contact</a></li>
					<li><a href="">About Us</a></li>
				</ul>
			</div>
		  </div>
		  
		  <div class="content">
			<div class="carousel">
				<div class="carousel_img_empty"></div>
			</div> 
			<div class="header_row mt15">
				<h2>Contacts</h2>
				<div class="small_purple">
					<p>we can be reached between 6:00 and 12:00 GMT</p>
				</div>
			</div>
			<div class="list_row2 mb70">
				<div class="bullet mr52">
					<div class="icon home_address"></div>
					<div class="bullet_text">
						<div class="bullet_name2">
							<p>Address</p>
						</div>
						<div class="bullet_object">
							<p class="lh17">Rua dos Biscoitos, 18<br />
							9950-333 MADALENA<br />
							Pico Azores - Portugal</p>
						</div>
					</div>
				</div>
				<div class="bullet">
					<div class="icon email"></div>
					<div class="bullet_text">
						<div class="bullet_name2">
							<p>Email</p>
						</div>
						<div class="bullet_object">
							<p class="lh17">lucysbnb@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
			<div class="list_row2 mb70">
				<div class="bullet mr52">
					<div class="icon landline"></div>
					<div class="bullet_text">
						<div class="bullet_name2">
							<p>Landline</p>
						</div>
						<div class="bullet_object">
							<p class="lh17">+351 292 623 000</p>
						</div>
					</div>
				</div>
				<div class="bullet">
					<div class="icon mobile"></div>
					<div class="bullet_text">
						<div class="bullet_name2">
							<p>Mobile</p>
						</div>
						<div class="bullet_object">
							<p class="lh17">+351 919 537 057</p>
						</div>
					</div>
				</div>
			</div>
			
		  </div> 

        </div> 

      </div> 

    </div> 

    <div id="footer_wrapper"> 

      <div id="footer_inner_wrapper"> 

        <div class="footer_bg"></div> 

      </div> 

    </div> 

  </body> 

</html> 