<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
 <head> 

    <title>Lucy's Bed & Breakfast</title> 
	
	<link rel="shortcut icon" href="/static/img/favicon_lbnb.ico"/>
	<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
	<link href="/static/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
	
	<script type="text/javascript">
	
	</script>

  </head> 

  <body> 

    <div id="wrapper"> 

      <div id="content_wrapper">
		<div class="top-padding"></div> 

        <div id="content_inner_wrapper"> 

          <div class="header">
			<div class="main_menu">
				<div class="home_btn">
					<div class="home_icon"></div>
					<p><a class="ml0" href="/">Home</a></p>
				</div>
				<ul>
					<li><a class="active2" href="/book_room">Book a Room</a>
						<ul class="submenu_pos">
							<li><a class="submenu width_submenu1" href="/book_room">Rates</a></li>
						</ul>
					</li>
					<li><a href="/our_rooms">Our Rooms</a></li>
					<li><a href="/location">Location</a></li>
					<li><a href="/activities">Island Activities</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about_us">About Us</a></li>
				</ul>
			</div>
		  </div> 
		  
		  <div class="carousel">
			<div class="bg_img"></div>
			<div class="fg_img"></div>
		  </div> 
		  
		  <div class="content">
			<h1>Features - <span>all included with the <a href="/book_room">room price</a></span></h1>
			<div class="features_list">
				<div class="feature">
					<div class="feature_icon pickups"></div>
					<p>Pickups</p>
					<div class="popup_wrapper">
						<div class="popup">
							<p>Pick-ups are included in the room price - please mention pick-ups at booking.</p>
							<div class="triangle-down"></div>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="feature_icon wifi"></div>
					<p>Wifi Internet</p>
					<div class="popup_wrapper">
						<div class="popup">
							<p>Wifi internet available at guest's disposal.</p>
							<div class="triangle-down"></div>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="feature_icon comfort"></div>
					<p>Comfort</p>
					<div class="popup_wrapper">
						<div class="popup">
							<p>Rest well on our orthopedic matresses.</p>
							<div class="triangle-down"></div>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="feature_icon jacuzzi"></div>
					<p>Jacuzzi Tub</p>
					<div class="popup_wrapper">
						<div class="popup">
							<p>Jacuzzi tub available at guest's disposal for relaxing baths.</p>
							<div class="triangle-down"></div>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="feature_icon cable"></div>
					<p>Cable TV</p>
					<div class="popup_wrapper">
						<div class="popup">
							<p>Including international stations.</p>
							<div class="triangle-down"></div>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="feature_icon english"></div>
					<p>English Spoken</p>
					<div class="popup_wrapper">
						<div class="popup">
							<p>Fluent english spoken.</p>
							<div class="triangle-down"></div>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="feature_icon breakfast"></div>
					<p>Breakfast</p>
					<div class="popup_wrapper2">
						<div class="popup">
							<p>Our menu consists mostly of all natural island produce, which include: dairy (cheeses, milk, butter), eggs, breads, tea, fruits (when in season) and honey. We also specialize in a more north-american style breakfast, like pancakes, bacon, sausages, scrambled eggs, etc. Vegetarian alternatives are also available.</p>
							<div class="triangle-down2"></div>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="feature_icon laundry"></div>
					<p>Laundry</p>
					<div class="popup_wrapper3">
						<div class="popup">
							<p>We do your laundry no extra charge.</p>
							<div class="triangle-down3"></div>
						</div>
					</div>
				</div>
			</div>
		  </div> 

        </div> 

      </div> 

    </div> 

    <div id="footer_wrapper"> 

      <div id="footer_inner_wrapper"> 

        <div class="footer_bg">
			<div class="footer_menu">
				<ul>
					<li><a href="/book_room">Book a Room</a></li>
					<li><a href="/book_room">Rates</a></li>
					<li><a href="/our_rooms">Our Rooms</a></li>
					<li><a href="/location">Location</a></li>
					<li><a href="/activities">Island Activities</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about_us">About Us</a></li>
				</ul>
				<a href="https://www.facebook.com/" target="_new">
					<div class="facebook_btn">
						<div class="facebook_f"></div>
						<div class="facebook_text">
							<p class="mt2">Find us on </p>
							<p><span>FACEBOOK</span></p>
						</div>
					</div>
				</a>
				<div class="small_txt_footer">
					<p>Pico Azores - Bed & Breakfast</p>
				</div>
			</div>
		</div> 
		
      </div> 

    </div> 

  </body> 

</html> 