<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Lucy's Bed & Breakfast</title>
<link rel="shortcut icon" href="/static/img/favicon_small.ico"/>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
<script type="text/javascript">

</body>
</html>
