<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
 <head> 

    <title>Lucy's Bed & Breakfast</title> 
	
	<link rel="shortcut icon" href="/static/img/favicon_small.ico"/>
	<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
	<link href="/static/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
	
	<script type="text/javascript">
	
	</script>

  </head> 

  <body> 

    <div id="wrapper"> 

      <div id="content_wrapper"> 

        <div id="content_inner_wrapper"> 

          <div class="header">
			<div class="top-padding"></div>
			<div class="main_menu">
				<div class="home_btn">
					<div class="home_icon"></div>
					<p><a href="">Home</a></p>
				</div>
				<ul>
					<li><a href="">Book a Room</a></li>
					<li><a href="">Our Rooms</a></li>
					<li><a href="">Breakfast Menu</a></li>
					<li><a href="">Location</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">About Us</a></li>
				</ul>
			</div>
		  </div> 
		  
		  <div class="carousel">
			<div class="bg_img"></div>
			<div class="fg_img"></div>
		  </div> 
		  
		  <div class="content">
			<h1>Features - <span>all included with the room price</span></h1>
			<div class="features_list">
				<ul>
					<li>
						<div class="feature_icon pickups"></div>
						<p>Pickups</p>
					</li>
					<li>
						<div class="feature_icon wifi"></div>
						<p>Wifi Internet</p>
					</li>
					<li>
						<div class="feature_icon comfort"></div>
						<p>Comfort</p>
					</li>
					<li>
						<div class="feature_icon jacuzzi"></div>
						<p>Jacuzzi Tub</p>
					</li>
					<li>
						<div class="feature_icon cable"></div>
						<p>Cable TV</p>
					</li>
					<li>
						<div class="feature_icon english"></div>
						<p>English Spoken</p>
					</li>
					<li>
						<div class="feature_icon breakfast"></div>
						<p>Breakfast</p>
					</li>
					<li>
						<div class="feature_icon laundry"></div>
						<p>Laundry</p>
					</li>
				</ul>
			</div>
		  </div> 

        </div> 

      </div> 

    </div> 

    <div id="footer_wrapper"> 

      <div id="footer_inner_wrapper"> 

        <div class="footer_bg"></div> 

      </div> 

    </div> 

  </body> 

</html> 