<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
 <head> 

    <title>Lucy's Bed & Breakfast</title> 
	
	<link rel="shortcut icon" href="/static/img/favicon_lbnb.ico"/>
	<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
	<link href="/static/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
	
	<script type="text/javascript">
	
	</script>

  </head> 

  <body> 

    <div id="wrapper"> 

      <div id="content_wrapper"> 
		<div class="top-padding"></div>

        <div id="content_inner_wrapper"> 

          <div class="header">
			<div class="main_menu">
				<div class="home_btn">
					<div class="home_icon"></div>
					<p><a class="ml0" href="/">Home</a></p>
				</div>
				<ul>
					<li><a class="active2" href="/book_room">Book a Room</a>
						<ul class="submenu_pos">
							<li><a class="submenu width_submenu1" href="/book_room">Rates</a></li>
						</ul>
					</li>
					<li><a href="/our_rooms">Our Rooms</a></li>
					<li><a class="active" href="/location">Location</a></li>
					<li><a href="/activities">Island Activities</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about_us">About Us</a></li>
				</ul>
			</div>
		  </div> 
		  
		  <div class="carousel">
			<div class="carousel_img location_1"></div>
			<div class="carousel_title">
				<h5>Azores</h5>
				<div class="medium_arrow"></div>
				<h6><span>Nine small pieces of portuguese heaven, are the islands of this beautiful<br />
				archipelago, situated in the middle of the Atlantic Ocean.</span>
				</h6>
			</div>
			<div class="carousel_caption">
				<h7>Pico Island</h7>
			</div>
		  </div> 
		  
		  <div class="content">
			<div class="header_row mt15">
				<h2>Location</h2>
				<div class="small_purple">
					<p>pick-ups are included in the room price</p>
				</div>
			</div>
			<div class="list_row2 mb70">
				<div class="bullet mr52">
					<div class="icon home_address"></div>
					<div class="bullet_text">
						<div class="bullet_name">
							<p>Address</p>
						</div>
						<div class="bullet_object">
							<p class="lh17">Rua dos Biscoitos, 18<br />
							9950-333 MADALENA<br />
							Pico Azores - Portugal</p>
						</div>
					</div>
				</div>
				<div class="bullet mr52">
					<div class="icon doc"></div>
					<div class="bullet_text">
						<div class="bullet_name">
							<p>Dock - <span class="fs18">Distance</span></p>
						</div>
						<div class="bullet_object">
							<p class="lh17">By foot - 25 mins<br />
							By car - 5 mins</p>
						</div>
					</div>
				</div>
				<div class="bullet">
					<div class="icon airport"></div>
					<div class="bullet_text">
						<div class="bullet_name">
							<p>Airport - <span class="fs18">Distance</span></p>
						</div>
						<div class="bullet_object">
							<p class="lh17">By car - 15 mins</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="map">
				<iframe width="944" height="304" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=204284299671260315107.0004d6f70e105bbc560e8&amp;ie=UTF8&amp;ll=38.543185,-28.486734&amp;spn=0.018719,0.084587&amp;t=m&amp;output=embed"></iframe>
				<!--iframe width="944" height="304" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Pico+Island+Airport,+Portugal&amp;daddr=Pico+Island,+Madalena,+Portugal&amp;hl=en&amp;geocode=FYFLTAIdwQpO_iHCK993Tq_ctymJSabLUpJHCzHCK993Tq_ctw%3BFSMGTAIdwspM_imxutSoqI1HCzGgY9RqFbzKsw&amp;aq=0&amp;oq=pico+ai&amp;sll=38.547987,-28.482393&amp;sspn=0.081761,0.154324&amp;t=m&amp;mra=ls&amp;ie=UTF8&amp;ll=38.550179,-28.479996&amp;spn=0.040812,0.16222&amp;z=13&amp;output=embed"></iframe-->
			</div>
			
		  </div> 

        </div> 

      </div> 

    </div> 

    <div id="footer_wrapper"> 

      <div id="footer_inner_wrapper"> 

        <div class="footer_bg">
			<div class="footer_menu">
				<ul>
					<li><a href="/book_room">Book a Room</a></li>
					<li><a href="/book_room">Rates</a></li>
					<li><a href="/our_rooms">Our Rooms</a></li>
					<li><a href="/location">Location</a></li>
					<li><a href="/activities">Island Activities</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about_us">About Us</a></li>
				</ul>
				<a href="https://www.facebook.com/pages/Lucys-Bed-Breakfast/159478380873483" target="_new">
					<div class="facebook_btn">
						<div class="facebook_f"></div>
						<div class="facebook_text">
							<p class="mt2">Find us on </p>
							<p><span>FACEBOOK</span></p>
						</div>
					</div>
				</a>
				<div class="small_txt_footer">
					<p>Pico Azores - Bed & Breakfast</p>
				</div>
			</div>
		</div> 

      </div> 

    </div> 

  </body> 

</html> 