<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
 <head> 

    <title>Lucy's Bed & Breakfast</title> 
	
	<link rel="shortcut icon" href="/static/img/favicon_lbnb.ico"/>
	<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
	<link href="/static/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>
	
	<script type="text/javascript">
	
	</script>

  </head> 

  <body> 

    <div id="wrapper"> 

      <div id="content_wrapper"> 

        <div id="content_inner_wrapper"> 

          <div class="header">
			<div class="top-padding"></div>
			<div class="main_menu">
				<div class="home_btn">
					<div class="home_icon"></div>
					<p><a class="ml0" href="/">Home</a></p>
				</div>
				<ul>
					<li><a class="active2" href="/book_room">Book a Room</a>
						<ul class="submenu_pos">
							<li><a class="submenu width_submenu1" href="/book_room">Rates</a></li>
						</ul>
					</li>
					<li><a class="active" href="/our_rooms">Our Rooms</a></li>
					<li><a href="/location">Location</a></li>
					<li><a href="/activities">Island Activities</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about_us">About Us</a></li>
				</ul>
			</div>
		  </div> 
		  
		  <div class="carousel">
			<div class="carousel_img our_rooms_1"></div>
			<div class="carousel_title">
				<h5>Bedroom</h5>
				<div class="medium_arrow"></div>
				<h6><span>Lucy&lsquo;s Bed & Breakfast is a one bedroom accommodation.</span><br />
					(plus extra bedroom with double bed, if needed)
				</h6>
			</div>
			<div class="carousel_caption">
				<h7>Room includes queen size bed with orthopedic matress, television and view to Faial Island.</h7>
				<div class="arrows_caption">
					<div class="arrow_left"></div>
					<div class="arrow_right"></div>
				</div>
			</div>
		  </div> 
		  
		  <div class="content">
			<h4><span>Guests have at their disposal:</span></h4>
			<div class="rooms">
				<div class="room float_left">
					<div class="picture room_picture_1"></div>
					<div class="caption_row">
						<div class="caption">
							<h3><span>WC - jacuzzi bathtub</span></h3>
						</div>
						<div class="arrows">
							<div class="arrow_left"></div>
							<div class="arrow_right"></div>
						</div>
					</div>
				</div>
				<div class="room float_right">
					<div class="picture room_picture_2"></div>
					<div class="caption_row">
						<div class="caption">
							<h3><span>Living Room - reading area and cable TV</span></h3>
						</div>
					</div>
				</div>
				<div class="room float_left">
					<div class="picture room_picture_3"></div>
					<div class="caption_row">
						<div class="caption">
							<h3><span>Kitchen - all kitchen appliances free for use</span></h3>
						</div>
					</div>
				</div>
				<div class="room float_right">
					<div class="picture room_picture_4"></div>
					<div class="caption_row">
						<div class="caption">
							<h3><span>Dinette</span></h3>
						</div>
					</div>
				</div>
			</div>
		  </div> 

        </div> 

      </div> 

    </div> 

    <div id="footer_wrapper"> 

      <div id="footer_inner_wrapper"> 

        <div class="footer_bg"></div> 

      </div> 

    </div> 

  </body> 

</html> 